<!DOCTYPE html>
<html lang="en" data-layout="horizontal" data-layout-style="detached" data-sidebar="light"
    xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head th:fragment="head">
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta content="Premium Multipurpose Admin & Dashboard Template" name="description" />
    <meta content="Themesbrand" name="author" />
    <title>PRE-REG | UJC - Universidade Joaquim Chissano</title>
    <!-- App favicon -->
    <link rel="shortcut icon" href="/img/ujc.png">
    <!-- Layout config Js -->
    <script src="/assets/js/layout.js"></script>
    <!-- Bootstrap Css -->
    <link href="/assets/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <!-- Icons Css -->
    <link href="/assets/css/icons.min.css" rel="stylesheet" type="text/css" />
    <!-- App Css-->
    <link href="/assets/css/app.min.css" rel="stylesheet" type="text/css" />
    <!-- custom Css-->
    <link href="/assets/css/custom.min.css" rel="stylesheet" type="text/css" />
    <!-- Sweet Alert css-->
    <link href="/assets/libs/sweetalert2/sweetalert2.min.css" rel="stylesheet" type="text/css" />
</head>

<body>
    <!-- Begin page -->
    <div id="layout-wrapper">
        <div class="content">
            <div class="page-content">
                <div class="container-lg">
                    <!--Start form -->
                    <div class="mt-0 row">
                        <div class="col-lg-12">
                            <div class="card">
                                <div class="card-header align-items-center d-flex flex-column">
                                    <span class="logo-sm">
                                        <img src="/img/ujc.png" alt="" height="80">
                                    </span>
                                    <h4 class="card-title mb-0 flex-grow-1 pt-2">Comprovativo do pre-registo</h4>
                                </div><!-- end card header -->
                                <div class="card-body">
                                    <div class="live-preview">
                                        <div class="row">
                                            <div class="col-xl-2">
                                                <div class="table-responsive">
                                                    <table class="table table-hover align-middle table-nowrap mb-0">
                                                        <tbody>
                                                            <tr>
                                                                <th class="ps-0" scope="row">Codigo :</th>
                                                                <td class="text-muted" id="codigo" th:text="${fatura.getCodigo()}"></td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                            <div class="col-xl-4">
                                                <div class="table-responsive">
                                                    <table class="table table-hover align-middle table-nowrap mb-0">
                                                        <tbody>
                                                        <tr>
                                                            <th class="ps-0" scope="row">Nome :</th>
                                                            <td th:text="${fatura.getNome()}" class="text-muted">Fenias Sebastiao Cossa jtfygjy</td>
                                                        </tr>
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                            <div class="col-xl-3">
                                                <div class="table-responsive">
                                                    <table class="table table-hover align-middle table-nowrap mb-0">
                                                        <tbody>
                                                            <tr>
                                                                <th class="ps-0" scope="row">Genero :</th>
                                                                <td class="text-muted" th:text="${fatura.getSexo()}">Masculino</td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                            <div class="col-xl-3">
                                                <div class="table-responsive">
                                                    <table class="table table-hover align-middle table-nowrap mb-0">
                                                        <tbody>
                                                        <tr>
                                                            <th class="ps-0" scope="row">Data :</th>
                                                            <td class="text-muted" id="data" th:text="${#dates.format(fatura.getData_registo(), 'dd-MM-yyyy : HH:mm')}">Masculino</td>
                                                        </tr>
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                            <!--end col-->
                                        </div>
                                        <!--end row-->
                                        <div class="row">
                                            <div class="col-xl-12">
                                                <p class="text-muted mt-5"> Baixe a factura para efectuar o pagamento,
                                                    <code>caso perca a factura faça login e recupere-a</code><br>Os pagamento devem ser efectuados no banco BCI </p>
                                                <div class="live-preview">
                                                    <div class="table-responsive">
                                                        <table class="table table-nowrap mb-0">
                                                            <thead class="table-light">
                                                                <tr>
                                                                    <th scope="col">Universidade</th>
                                                                    <th scope="col">Curso</th>
                                                                    <th scope="col">Disciplinas</th>
                                                                    <th scope="col">Entidade</th>
                                                                    <th scope="col">Referencia</th>
                                                                    <th acope="col">Valor</th>
                                                                    <th scope="col">Estado</th>
                                                                </tr>
                                                            </thead>
                                                            <tbody>
                                                                <tr>
                                                                    <td class="fw-medium" th:text="${fatura.getUniversidade()}">Universidade Joaquim Chissano
                                                                    </td>
                                                                    <td th:text="${fatura.getCurso()}">Engenharia de tecnologia e sistemas de
                                                                        informacao</td>
                                                                    <td th:text="${fatura.getDisciplinas()}">Matematica <br> Portugues</td>
                                                                    <td th:text="${fatura.getEntidade()}">156686886</td>
                                                                    <td th:text="${fatura.getReferencia()}">897167665455566</td>
                                                                    <td th:text="${fatura.getValor()}">700</td>
                                                                    <td th:text="${fatura.getEstado()}"></td>
                                                                </tr>
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                </div>

                                                <!--end col-->
                                                <div class="hstack gap-2 justify-content-end d-print-none mt-4">
                                                    <h5 class="fs-15 mb-0 d-flex l-2" th:if="${fatura.estado}!='Pago'">
                                                        <form th:action="|@{/jasper-report/factura/pdf/}${fatura.getCodigo()}|" method="post" class="mx-2">
                                                            <button type="submit" href="javascript:void(0);" class="btn btn-info"><i class="ri-download-2-line align-bottom me-1"></i> Baixar factura</button>
                                                        </form>
                                                        <button th:value="${pagamento.valor}" type="button" class="btn btn-primary getValue" id="custom-sa-community">
                                                            <i class="ri-bank-card-line align-bottom me-1"></i>Efectuar pagamento
                                                        </button>
                                                    </h5>
                                                    <h5 class="fs-15 mb-0 l-2" th:if="${fatura.estado}=='Pago'">
                                                        <form th:action="|@{/jasper-report/payment/pdf/}${fatura.getCodigo()}|" method="post">
                                                            <button class="btn btn-info" type="submit">Baixar Comprovativo de pagamento</button>
                                                        </form>
                                                    </h5>
                                                    <a th:href="|@{/home/}${fatura.getCodigo()}|" class="l-2 btn btn-primary"><i class="ri-home-2-line align-bottom me-1"></i>Pagina Home</a>
                                                </div>
                                            </div>
                                            <!--end row-->
                                        </div>
                                    </div><!-- end card-body -->
                                </div><!-- end card -->
                            </div>
                            <!-- end col -->
                        </div>
                        <!--end row-->
                        <!--End form enter-->
                    </div>
                </div>
            </div>
            <!-- End Page-content -->
        </div>
        <!-- end main content-->
    </div>
    <!-- END layout-wrapper -->

    <!-- JAVASCRIPT -->
    <script th:src="@{/assets/libs/bootstrap/js/bootstrap.bundle.min.js}"></script>
    <script th:src="@{/assets/libs/simplebar/simplebar.min.js}"></script>
    <script th:src="@{/assets/libs/node-waves/waves.min.js}"></script>
    <script th:src="@{/assets/libs/feather-icons/feather.min.js}"></script>
    <script th:src="@{/assets/js/pages/plugins/lord-icon-2.1.0.js}"></script>
    <script th:src="@{/assets/js/plugins.js}"></script>
    <!-- form wizard init -->
    <script th:src="@{/assets/js/pages/form-wizard.init.js}"></script>
    <script th:src="@{/assets/js/pages/form-validation.init.js}"></script>
    <script th:src="@{https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js}"></script>

    <!-- App js -->
    <script th:src="@{/assets/js/app.js}"></script>

    <!-- Sweet Alerts js -->
    <script src="/assets/libs/sweetalert2/sweetalert2.min.js"></script>

    <!-- Sweet alert init js-->
    <script src="/assets/js/pages/sweetalerts.init.js"></script>

    <script type="text/javascript" th:src="@{/js/index.js}"></script>

</body>

</html>