<!DOCTYPE html>
<html lang="en" data-layout="horizontal" data-layout-style="detached" data-sidebar="light"
    xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head th:fragment="head">
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta content="Premium Multipurpose Admin & Dashboard Template" name="description" />
    <meta content="Themesbrand" name="author" />
    <title>PRE-REG | UJC - Universidade Joaquim Chissano</title>
    <!-- App favicon -->
    <link rel="shortcut icon" href="/img/ujc.png">
    <!-- Layout config Js -->
    <script src="/assets/js/layout.js"></script>
    <!-- Bootstrap Css -->
    <link href="/assets/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <!-- Icons Css -->
    <link href="/assets/css/icons.min.css" rel="stylesheet" type="text/css" />
    <!-- App Css-->
    <link href="/assets/css/app.min.css" rel="stylesheet" type="text/css" />
    <!-- custom Css-->
    <link href="/assets/css/custom.min.css" rel="stylesheet" type="text/css" />
</head>

<body>
    <!-- Begin page -->
    <div id="layout-wrapper">
        <div class="content">
            <div class="page-content">
                <div class="container-lg">
                    <!--Start form -->
                    <div class="mt-0 row">
                        <div class="col-lg-12">
                            <div class="card">
                                <div class="card-header align-items-center d-flex flex-column">
                                    <span class="logo-sm">
                                        <img src="/img/ujc.png" alt="" height="80">
                                    </span>
                                    <h4 class="card-title mb-0 flex-grow-1 pt-2">Comprovativo do pre-registo</h4>
                                </div><!-- end card header -->

                                <div class="card-body">
                                    <div class="live-preview">
                                        <div class="row">
                                            <div class="col-xl-6">
                                                <div class="table-responsive">
                                                    <table class="table table-hover align-middle table-nowrap mb-0">
                                                        <tbody>
                                                            <tr>
                                                                <th class="ps-0" scope="row">Codigo :</th>
                                                                <td class="text-muted">10000085</td>
                                                            </tr>
                                                            <tr>
                                                                <th class="ps-0" scope="row">Genero:</th>
                                                                <td class="text-muted">Masculino</td>
                                                            </tr>
                                                            <tr>
                                                                <th class="ps-0" scope="row">Estado Civil :</th>
                                                                <td class="text-muted">Solteiro</td>
                                                            </tr>
                                                            <tr>
                                                                <th class="ps-0" scope="row">Naturalidade :</th>
                                                                <td class="text-muted">Moçambique, Maputo</td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                            <div class="col-xl-6">
                                                <div class="table-responsive">
                                                    <table class="table table-hover align-middle table-nowrap mb-0">
                                                        <tbody>
                                                            <tr>
                                                                <th class="ps-0" scope="row">Codigo :</th>
                                                                <td class="text-muted">10000085</td>
                                                            </tr>
                                                            <tr>
                                                                <th class="ps-0" scope="row">Genero:</th>
                                                                <td class="text-muted">Masculino</td>
                                                            </tr>
                                                            <tr>
                                                                <th class="ps-0" scope="row">Estado Civil :</th>
                                                                <td class="text-muted">Solteiro</td>
                                                            </tr>
                                                            <tr>
                                                                <th class="ps-0" scope="row">Naturalidade :</th>
                                                                <td class="text-muted">Moçambique, Maputo</td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                            <!--end col-->
                                        </div>
                                        <!--end row-->
                                        <div class="row">
                                            <div class="col-xl-12">
                                                <p class="text-muted mt-5">confirme
                                                    <code>a informação da sua conta</code>. depois de
                                                    confirmar não poderá alterar.</p>
                                                <div class="live-preview">
                                                    <div class="table-responsive">
                                                        <table class="table table-nowrap mb-0">
                                                            <thead class="table-light">
                                                                <tr>
                                                                    <th scope="col">Universidade</th>
                                                                    <th scope="col">Curso</th>
                                                                    <th scope="col">Disciplinas</th>
                                                                    <th scope="col">Local de realizacao</th>
                                                                    <th scope="col">Entidade</th>
                                                                    <th scope="col">Referencia</th>
                                                                    <th acope="col">Valor</th>
                                                                </tr>
                                                            </thead>
                                                            <tbody>
                                                                <tr>
                                                                    <td class="fw-medium">Universidade Joaquim Chissano
                                                                    </td>
                                                                    <td>Engenharia de tecnologia e sistemas de
                                                                        informacao</td>
                                                                    <td>Matematica <br> Portugues</td>
                                                                    <td>Cidade de Maputo</td>
                                                                    <td>156686886</td>
                                                                    <td>897167665455566</td>
                                                                    <td>700</td>
                                                                </tr>
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                </div>

                                                <!--end col-->
                                                <div class="d-flex align-items-start gap-3 mt-4">
                                                    <a type="button" href="/course/fatura/pdf"
                                                        class="btn btn-success btn-label right ms-auto"><i
                                                            class="mdi mdi-file-pdf-box label-icon align-middle fs-16 ms-2"></i>Baixar
                                                        fatura</a>
                                                </div>
                                            </div>
                                            <!--end row-->
                                        </div>

                                    </div><!-- end card-body -->
                                </div><!-- end card -->
                            </div>
                            <!-- end col -->
                        </div>
                        <!--end row-->


                        <!--End form enter-->
                    </div>
                    <!-- End Page-content -->
                </div>
                <!-- end main content-->
            </div>
            <!-- END layout-wrapper -->

            <!-- JAVASCRIPT -->

            <script th:src="@{/assets/libs/bootstrap/js/bootstrap.bundle.min.js}"></script>
            <script th:src="@{/assets/libs/simplebar/simplebar.min.js}"></script>
            <script th:src="@{/assets/libs/node-waves/waves.min.js}"></script>
            <script th:src="@{/assets/libs/feather-icons/feather.min.js}"></script>
            <script th:src="@{/assets/js/pages/plugins/lord-icon-2.1.0.js}"></script>
            <script th:src="@{/assets/js/plugins.js}"></script>
            <!-- form wizard init -->
            <script th:src="@{/assets/js/pages/form-wizard.init.js}"></script>
            <script th:src="@{/assets/js/pages/form-validation.init.js}"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

            <!-- App js -->
            <script th:src="@{/assets/js/app.js}"></script>
            <script type="text/javascript" th:src="@{/js/index.js}"></script>
</body>

</html>