<!doctype html>
<html lang="pt" data-layout="vertical" data-layout-style="detached" data-sidebar="light" data-topbar="light"
      data-sidebar-size="lg" data-sidebar-image="none"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>

    <meta charset="utf-8"/>
    <title>Invoice Details | UJC</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta content="Premium Multipurpose Admin & Dashboard Template" name="description"/>
    <meta content="Themesbrand" name="Fenias Cossa"/>
    <!-- App favicon -->
    <link rel="shortcut icon" href="/img/ujc.png">

    <!-- Layout config Js -->
    <script src="/assets/js/layout.js"></script>
    <!-- Bootstrap Css -->
    <link href="/assets/css/bootstrap.min.css" rel="stylesheet" type="text/css"/>
    <!-- Icons Css -->
    <link href="/assets/css/icons.min.css" rel="stylesheet" type="text/css"/>
    <!-- App Css-->
    <link href="/assets/css/app.min.css" rel="stylesheet" type="text/css"/>
    <!-- custom Css-->
    <link href="/assets/css/custom.min.css" rel="stylesheet" type="text/css"/>


</head>

<!-- <body style="background: #15A5DE;"> -->
<body>
<!-- Begin page -->
<div id="layout-wrapper">

    <!-- top bar-->
    <div th:replace="home/fragment/topbar.html :: topbar"></div>
    <!-- menu  -->
    <div th:replace="home/fragment/menu.html :: menu"></div>

    <!-- Left Sidebar End -->
    <!-- Vertical Overlay-->
    <div class="vertical-overlay"></div>

    <!-- ============================================================== -->
    <!-- Start right Content here -->
    <!-- ============================================================== -->
    <div class="main-content">

        <div class="page-content">
            <div class="container-fluid">

                <!-- start page title -->
                <div class="row">
                    <div class="col-12">
                        <div class="page-title-box d-sm-flex align-items-center justify-content-between">
                            <h4 class="mb-sm-0">Pagamento</h4>

                            <div class="page-title-right">
                                <ol class="breadcrumb m-0">
                                    <li class="breadcrumb-item"><a href="javascript: void(0);">Candidato</a></li>
                                    <li class="breadcrumb-item active">Pagamento</li>
                                </ol>
                            </div>

                        </div>
                    </div>
                </div>
                <!-- end page title -->

                <div class="row justify-content-center">
                    <div class="col-xxl-9">
                        <div class="card" id="demo">
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="card-header border-bottom-dashed p-4">
                                        <div class="d-flex">
                                            <div class="flex-grow-1">
                                                <img src="img/ujc.png" class="card-logo card-logo-dark" alt="logo dark"
                                                     height="50">
                                                <img src="img/ujc.png" class="card-logo card-logo-light"
                                                     alt="logo light" height="50">
                                                <div class="mt-sm-5 mt-4">
                                                    <h6 class="text-muted text-uppercase fw-semibold">Endereco</h6>
                                                    <p class="text-muted mb-1" id="address-details" th:text="|Moçambique, ${candidato.naturalProvincia}|">Maputo, Matola</p>
                                                </div>
                                            </div>
                                            <div class="flex-shrink-0 mt-sm-0 mt-3">
                                                <h6><span
                                                        class="text-muted fw-normal">Codigo do candidato No: </span><span
                                                        id="legal-register-no" th:text="${userlogado.codigo}">1987654</span></h6>
                                                <h6><span class="text-muted fw-normal">Email: </span><span id="email" th:text="${userlogado.email}">feniascossa@outlook.coom</span>
                                                </h6>
                                                <h6 class="mb-0"><span
                                                        class="text-muted fw-normal">Telefone: </span><span
                                                        id="contact-no" th:text="|+(258)${userlogado.telefone}|"> +(258) 84 234 6789</span></h6>
                                            </div>
                                        </div>
                                    </div>
                                    <!--end card-header-->
                                </div><!--end col-->
                                <div class="col-lg-12">
                                    <div class="card-body p-4">
                                        <div class="row g-3">
                                            <div class="col-lg-3 col-6">
                                                <p class="text-muted mb-2 text-uppercase fw-semibold">Factura No</p>
                                                <h5 class="fs-15 mb-0">UJC - <span id="invoice-no">25000355</span></h5>
                                            </div>
                                            <!--end col-->
                                            <div class="col-lg-3 col-6">
                                                <p class="text-muted mb-2 text-uppercase fw-semibold">Date</p>
                                                <h5 class="fs-15 mb-0"><span id="invoice-date" th:text="${#temporals.format(candidatoCurso.getData_registo, 'dd/MM/yyyy')}" >23 Nov, 2021</span>
                                                    <small class="text-muted" id="invoice-time" th:text="${#temporals.format(candidatoCurso.getData_registo, 'HH:mm')}">02:36PM</small></h5>
                                            </div>
                                            <!--end col-->
                                            <div class="col-lg-3 col-6">
                                                <p class="text-muted mb-2 text-uppercase fw-semibold">Estado de
                                                    pagamento</p>
                                                <span class="badge badge-soft-success fs-11"
                                                      id="payment-status" th:text="${fatura.estado}">Não Pa go</span>
                                            </div>
                                            <!--end col-->
                                            <div class="col-lg-3 col-6">
                                                <p class="text-muted mb-2 text-uppercase fw-semibold">Total Pago</p>
                                                <h5 class="fs-15 mb-0" th:if="${fatura.estado}!='Nao Pago'"><span id="total-amount" th:text="${fatura.valor}">0.00</span> Mts</h5>
                                                <h5 class="fs-15 mb-0" th:if="${fatura.estado}=='Nao Pago'"><span id="total-amount">0.00</span> Mts</h5>
                                            </div>
                                            <!--end col-->
                                        </div>
                                        <!--end row-->
                                    </div>
                                    <!--end card-body-->
                                </div><!--end col-->
                                <div class="card-body p-4">
                                    <form class="row g-3 needs-validation" action="/payment" method="post" novalidate >
                                        <!--end col-->
                                        <div class="col-lg-3 col-sm-6">
                                            <label for="validationCustom04">Metodo de pagamento</label>
                                            <div class="input-light">
                                                <select class="form-control bg-light border-1" data-choices data-choices-search-false id="validationCustom04" required>
                                                    <option value="">Selecione ... </option>
                                                    <option value="Paid">MPESA</option>
                                                    <option value="Unpaid">EMOLA</option>
                                                    <option value="Refund">BIM</option>
                                                    <option value="Refund">BCI</option>
                                                </select>
                                                <div class="invalid-feedback">
                                                    Selecione uma opção por favor
                                                </div>
                                            </div>
                                        </div>
                                        <!--end col-->
                                        <div class="col-lg-3 col-sm-6">
                                            <div>
                                                <label for="validationCustom03">No de conta ou celular</label>
                                                <input type="text" class="form-control bg-light border-1" id="validationCustom03" data-provider="flatpickr" data-time="true" placeholder="###-###-###" required>
                                                <div class="invalid-feedback">
                                                    Por favor preencha o campo
                                                </div>
                                            </div>
                                        </div>
                                        <!--end col-->
                                        <div class="col-lg-3 col-sm-6">
                                            <div>
                                                <label for="totalamountInput">Total a ser pago</label>
                                                <input type="text" th:value="${fatura.valor}" class="form-control bg-light border-0" id="totalamountInput" placeholder="70000.00" readonly />
                                            </div>
                                        </div>
                                        <!--end col-->
                                        <div class="col-lg-3 col-sm-6">
                                            <div>
                                                <label>confirme antes de  pagar </label>
                                                <button class="btn btn-primary" type="submit">Efetuar o pagamento</button>
                                            </div>
                                        </div>
                                        <!--end col-->
                                    </form>
                                    <!--end row end form-->
                                </div>
                                <div class="col-lg-12">
                                    <div class="card-body p-4 border-top border-top-dashed">
                                        <div class="row g-3">
                                            <div class="col-6">
                                                <h6 class="text-muted text-uppercase fw-semibold mb-3">Endereço da
                                                    UJC</h6>
                                                <p class="fw-medium mb-2" id="billing-name">Campos de Zimpeto</p>
                                                <p class="text-muted mb-1" id="billing-address-line-1">Rua de
                                                    Grande-Maputo</p>
                                                <p class="text-muted mb-1"><span>Telefone: +</span><span
                                                        id="billing-phone-no">(258) 86 456-7890</span></p>
                                            </div>
                                            <!--end col-->
                                            <!--end col-->
                                        </div>
                                        <!--end row-->
                                    </div>
                                    <!--end card-body-->
                                </div><!--end col-->
                            </div><!--end row-->
                        </div>
                        <!--end card-->
                    </div>
                    <!--end col-->
                </div>
                <!--end row-->


            </div><!-- container-fluid -->
        </div><!-- End Page-content -->

        <footer class="footer" th:replace="fragments/general.html :: footer"></footer>
    </div><!-- end main content-->

</div>
<!-- END layout-wrapper -->


<!--start back-to-top-->
<button onclick="topFunction()" class="btn btn-danger btn-icon" id="back-to-top">
    <i class="ri-arrow-up-line"></i>
</button>
<!--end back-to-top-->

<!-- JAVASCRIPT -->
<script src="/assets/libs/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="/assets/libs/simplebar/simplebar.min.js"></script>
<script src="/assets/libs/node-waves/waves.min.js"></script>
<script src="/assets/libs/feather-icons/feather.min.js"></script>
<script src="/assets/js/pages/plugins/lord-icon-2.1.0.js"></script>
<script src="/assets/js/plugins.js"></script>

<script src="/assets/js/pages/invoicedetails.js"></script>
<script src="/assets/js/pages/form-validation.init.js"></script>

<!-- App js -->
<script src="/assets/js/app.js"></script>

</body>
</html>