<!DOCTYPE html>
 
<html xmlns:th="http://www.thymeleaf.org"  xmlns="http://www.w3.org/1999/xhtml">
    
<header id="page-topbar" th:fragment="header">
    <div class="layout-width">
        <div class="navbar-header">
            <div class="d-lg-flex">
                <!-- LOGO -->
                <a href="/" class="logo logo-dark">
                    <span class="logo-sm">
                        <img src="/img/ujc.png" alt="" height="40">
                    </span>
                    <span class="logo-lg">
                        <img src="/img/ujc.png" alt="" height="45">
                    </span>
                </a>
            </div>
            <div class="d-flex align-items-center">
                <div class="dropdown ms-1 topbar-head-dropdown header-item">
                    <button type="button" class="btn btn-icon btn-topbar btn-ghost-secondary rounded-circle"
                        data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <img id="header-lang-img" th:src="@{/assets/images/flags/mozambique-flag-icon.svg}"
                            alt="Header Language" height="20" class="rounded">
                    </button>
                    <div class="dropdown-menu dropdown-menu-end">
                        <!-- item-->
                        <a href="javascript:void(0);" class="dropdown-item notify-item language py-2" data-lang="en"
                            title="English">
                            <img th:src="@{/assets/images/flags/mozambique-flag-icon.svg}" alt="user-image"
                                class="me-2 rounded" height="18">
                            <span class="align-middle">Mozambique</span>
                        </a>
                    </div>
                </div>
                <div class="ms-1 header-item d-none d-sm-flex">
                    <button type="button" class="btn btn-icon btn-topbar btn-ghost-secondary rounded-circle"
                        data-toggle="fullscreen">
                        <i class='bx bx-exit fs-22'></i>
                    </button>
                </div>
            </div>
        </div>
    </div>
</header>


<div class="card-header border-bottom-dashed p-4" th:fragment="dadosCandidato">
    <div class="d-flex">
        <div class="flex-grow-1">
            <img src="/img/ujc.png" class="card-logo card-logo-dark" alt="logo dark"
                 height="50">
            <img src="/img/ujc.png" class="card-logo card-logo-light"
                 alt="logo light" height="50">
            <div class="mt-sm-5 mt-4">
                <h6 class="text-muted text-uppercase fw-semibold">Endereco</h6>
                <p class="text-muted mb-1" id="address-details" th:text="|Moçambique- ${provincia.nome}, ${distrito.nome}|">Maputo, Matola</p>
            </div>
        </div>
        <div class="flex-shrink-0 mt-sm-0 mt-3">
            <h6><span
                    class="text-muted fw-normal">Codigo do candidato No: </span><span
                    id="legal-register-no" th:text="${userlogado.codigo}">1987654</span></h6>
            <h6><span class="text-muted fw-normal">Email: </span><span id="email" th:text="${userlogado.email}">feniascossa@outlook.coom</span>
            </h6>
            <h6 class="mb-0"><span
                    class="text-muted fw-normal">Telefone: </span><span
                    id="contact-no" th:text="|+(258)${userlogado.telefone}|"> +(258) 84 234 6789</span></h6>
        </div>
    </div>
</div>


<footer class="footer" th:fragment="footer">
    <div class="container-fluid">
        <div class="row d-flex justify-content-between">
            <div class="col-sm-6">
                <script>document.write(new Date().getFullYear())</script> © UJC.
            </div>
            <div class="col-sm-6">
                <div class="text-sm-end d-none d-sm-block">
                    Design & Develop by Fenias Cossa
                </div>
            </div>
        </div>
    </div>
</footer>

<div th:fragment="modal" id="modal" class="modal-overlay hide" >
    <div class="modal-wrapper">
        <div id="ld">
            <div id="spinner" class="loader"></div>
        </div>
    </div>
</div>

</html>