<div class="row" th:fragment="provenance">
  <div class="col-xl-8">
    <div class="card">
      <div class="card-header border-0 align-items-center d-flex">
        <h4 class="card-title mb-0 flex-grow-1">Cadastramentos por dia</h4>
      </div><!-- end card header -->

      <div class="card-header p-0 border-0 bg-soft-light">
        <div class="row g-0 text-center">
          <div class="col-6 col-sm-3">
            <div class="p-3 border border-dashed border-start-0">
              <h5 class="mb-1"><span class="counter-value" th:data-target="${count}">0</span>
              </h5>
              <p class="text-muted mb-0">Candidatos</p>
            </div>
          </div>
          <!--end col-->
          <div class="col-6 col-sm-3">
            <div class="p-3 border border-dashed border-start-0">
              <h5 class="mb-1">MT-<span class="counter-value" th:data-target="${allpaymant}">0</span></h5>
              <p class="text-muted mb-0">Valores</p>
            </div>
          </div>
          <!--end col-->
          <div class="col-6 col-sm-3">
            <div class="p-3 border border-dashed border-start-0">
              <h5 class="mb-1"><span class="counter-value" th:data-target="${comPagamentos}">0</span></h5>
              <p class="text-muted mb-0">Pagamentos</p>
            </div>
          </div>
          <!--end col-->
        <!--  <div class="col-6 col-sm-3">
            <div class="p-3 border border-dashed border-start-0 border-end-0">
              <h5 class="mb-1 text-success"><span class="counter-value"
                                                  data-target="18.92">0</span>%</h5>
              <p class="text-muted mb-0">Conversation Ratio</p>
            </div>
          </div> -->
          <!--end col-->
        </div>
      </div><!-- end card header -->

      <div class="card-body p-0 pb-2">
        <div class="w-100">
          <div class="bar-chart">
            <div class="bar" th:each="cand : ${candidateByDate}" th:data-value="${cand.totalPorDia}">
              <span class="bar-label" th:text="${cand.totalPorDia} + '%'"></span>
              <span th:text="${cand.date}"></span>
            </div>
          </div>
         </div>
       </div><!-- end card body -->
    </div><!-- end card -->
  </div><!-- end col -->

  <div class="col-xl-4">
    <!-- card -->
    <div class="card card-height-100">
      <div class="card-header align-items-center d-flex">
        <h4 class="card-title mb-0 flex-grow-1">Candidatos por localização</h4>
        <div class="flex-shrink-0">
          <button type="button" class="btn btn-soft-primary btn-sm">
            Extrair relatório
          </button>
        </div>
      </div><!-- end card header -->

      <!-- card body -->
      <div class="card-body">

        <div id="candidates_by_locations" style="height: 269px; text-align: center;">
          <img th:src="@{/img/mozambique.svg}" height="269px">
        </div>
        <div class="px-2 py-2 mt-1" th:each="prov : ${provenence}">
          <p class="mb-1 d-flex justify-content-lg-between" > <span th:text="${prov.nome}"></span> <span class="float-end" th:text="|${prov.valor}%|">75%</span></p>
          <div class="progress mt-2" style="height: 6px;">
            <div class="progress-bar progress-bar-striped bg-primary" role="progressbar"
                 th:style="|width: ${prov.valor}%|" th:aria-valuenow="${prov.valor}" aria-valuemin="0"
                 th:aria-valuemax="${prov.valor}"></div>
          </div>
        </div>
       </div>
      <!-- end card body -->
    </div>
    <!-- end card -->
  </div>
  <!-- end col -->
</div>