<div class="app-menu navbar-menu" th:fragment="menu">
    <!-- LOGO -->
    <div class="navbar-brand-box">
        <!-- Dark Logo-->
        <a href="/" class="logo logo-dark">
                    <span class="logo-sm">
                        <img src="/img/ujc.png" alt="" height="22">
                    </span>
            <span class="logo-lg">
                        <img src="/img/ujc.png" alt="" height="17">
                    </span>
        </a>
        <!-- Light Logo-->
        <a href="/" class="logo logo-light">
                    <span class="logo-sm">
                        <img src="/img/ujc.png" alt="" height="22">
                    </span>
            <span class="logo-lg">
                        <img src="/img/ujc.png" alt="" height="17">
                    </span>
        </a>
        <button type="button" class="btn btn-sm p-0 fs-20 header-item float-end btn-vertical-sm-hover" id="vertical-hover">
            <i class="ri-record-circle-line"></i>
        </button>
    </div>

    <div id="scrollbar">
        <div class="container-fluid">

            <div id="two-column-menu">
            </div>
            <ul class="navbar-nav" id="navbar-nav">
                <li class="menu-title"><span data-key="t-menu">Menu</span></li>
                <li class="nav-item">
                    <a class="nav-link menu-link" th:href="|@{/home/}${userlogado.codigo}|">
                        <i class="bx bx-home"></i> <span data-key="t-widgets">Home</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link menu-link" th:href="|@{/local?redindn-00409-w44500-Join=}${userlogado.codigo}|">
                        <i class="bx bxs-school"></i> <span data-key="t-widgets">Instituição e Sala</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link menu-link" th:href="|@{/result?redindn-00409-3390d0-Join=}${userlogado.codigo}|">
                        <i class="bx bx-trophy"></i> <span data-key="t-widgets">Resultados</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link menu-link" th:href="|@{/payment?redindn-00409-0000-Join=}${userlogado.codigo}|">
                        <i class="ri-bank-card-line"></i> <span data-key="t-widgets">Pagamentos</span>
                    </a>
                </li>
                <!-- end Dashboard Menu -->
            </ul>
        </div>
        <!-- Sidebar -->
    </div>
    <div class="sidebar-background"></div>
</div>